* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    color: white;
    background-color: lightcoral;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.menu {

    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.body {
    background-color: lightblue;
}

/* Columns */

.body {
    display: flex;
    border: 2px solid black;
    height: 1000px;
    flex: 1;
}

.col-1 {
    width: 200px;
    border: 2px solid red;
}

.col-2 {
    border: 2px solid teal;
}

.footer {
    border: 2px solid gray;
}